
html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject
        body
            p(style='font-family: sans-serif; font-size: 13px;')=greeting
            p(style='font-family: sans-serif; font-size: 13px;')=subject2
            p(style='font-family: sans-serif; font-size: 13px;')
                a(href='http://www.discoveranotheryou.com.au/\#/#{linkType}/#{giftId}', style='background: #f7f7f7; padding: 10px; max-width: 500px; display: block;')=giftName
            p(style='font-family: sans-serif; font-size: 13px;')=afterMessage
            p(style='font-family: sans-serif; font-size: 13px;')=signature
            p(style='font-family: sans-serif; font-size: 13px; border-top: 1px solid #eee; padding-top: 20px; max-width: 520px;')
                a(href='http://www.discoveranotheryou.com.au/\#/#{notificationId}')=notifications
                |&nbsp;|&nbsp;
                a(href='http://www.discoveranotheryou.com.au')=site
                br
                br
                span(style='font-size: 12px;')=unsubscribe1
                    a(href='http://www.giftuu.com/\#/myprofile')=unsubscribe2
                span(style='font-size: 12px;')=unsubscribe3
